<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Details</title>
</head>
<body>
    <nav class="header">
        <h1>Habi Farm</h1>
    </nav>
    <div>
    <h1><%=data.name%></h1>
    <img src=<%=data.img%> alt="Item Image">
    <div>
        <p>name:<span class="itemName"><%=data.name%></span></p>
        <p>cost: <span class="itemPrice"><%=data.cost%></span></p>
    </div>
    <p class="details">
        <%=data.details%>
    </p>
    </div>
    <a href="/views/checkout.ejs"><button class="check-out-btn">Checkout</button></a>
</body>
</html>